# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

# SDCard 'looping' (aka Marlin M808 commands) support
#
# Support SDCard looping
[sdcard_loop]

# 'Marlin' style M808 compatibility macro for SDCard looping
[gcode_macro M808]
gcode:
    {% if params.K is not defined and params.L is defined %}SDCARD_LOOP_BEGIN COUNT={params.L|int}{% endif %}
    {% if params.K is not defined and params.L is not defined %}SDCARD_LOOP_END{% endif %}
    {% if params.K is defined and params.L is not defined %}SDCARD_LOOP_DESIST{% endif %}



[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
homing_retract_dist: 0
position_max: 95
homing_speed: 25

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.30
#stealthchop_threshold: 999999
diag_pin: ^PC0
driver_SGTHRS: 25 # 255 is most sensitive value, 0 is least sensitive

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 12
homing_retract_dist: 0
position_max: 105
homing_speed: 25
position_endstop: 105

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.30
#stealthchop_threshold: 999999
diag_pin: ^PC1
driver_SGTHRS: 22 # 255 is most sensitive value, 0 is least sensitive

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8.802
endstop_pin: tmc2209_stepper_z:virtual_endstop
position_endstop: 0.0
homing_retract_dist: 0
position_max: 999999
position_min: -15

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.3
diag_pin: ^PC2
stealthchop_threshold: 999999

driver_SGTHRS: 240  # 255 is most sensitive value, 0 is least sensitive

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
gear_ratio: 50:17
rotation_distance:  24 #23.132
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_velocity: 60
max_extrude_only_distance: 500
max_extrude_cross_section: 50
heater_pin: PC8
sensor_type: Generic 3950 #EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.3
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: Generic 3950  #ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC6
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC7

[mcu]
serial: /dev/serial0   #AMA0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.
