##########################################################
#                        MACROS                          #
##########################################################

[gcode_macro PRINT_START]
# Reference https://github.com/KevinOConnor/klipper/blob/master/docs/Config_Reference.md#gcode_macro
# On how to override default parameters
#default_parameter_BED_TEMP: 60
#default_parameter_EXTRUDER_TEMP: 200
gcode:
  {% set BED = params.BED|int %}
  {% set EXTRUDER = params.EXTRUDER|int %}
  {% set MATERIAL = params.MATERIAL|string %}
  {% set ANGLE = params.ANGLE|string %}

  SET_GCODE_VARIABLE MACRO=Y_ANGLE VARIABLE=angle VALUE={ANGLE}

  #MOTION_SENSOR ENABLE=0		; uncomment to disable encoder_sensor until reactivated

  VALIDATE_ANGLE

  {% if printer["gcode_macro VALIDATE_ANGLE"].validation_error == 0 %}

    RESPOND PREFIX="Home All"
    G28 ; home all axis

    M104 S150                      ; preheat nozzle to 150C
    M117 Heating Bed
    M190 S{BED}                    ; heat bed

    RESPOND PREFIX="Home Y"
    G28 Y

    M117 Heating Nozzle
    M104 S{EXTRUDER}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER}               ; heat nozzle
    M117 ;Clear message

    NOZZLE_PRIME

    G21 ; set units to millimeters
    G90 ; use absolute coordinates
    M83 ; use relative distances for extrusion

    #UPDATE_DELAYED_GCODE ID=ENABLE_MOTION_SENSOR DURATION=60			; uncomment to avoid false positive on encoder_sensor at start of print
  {% else %}
    CANCEL_PRINT
  {% endif %}

[gcode_macro PRINT_END]
gcode:
  SAVE_GCODE_STATE NAME=STATE_PRINT_END
  M400                           ; wait for buffer to clear
  SAFE_RETRACT
  TURN_OFF_HEATERS
  SAFE_PARK
  M107                          ; turn off fan
  #EJECT_PRINT					; uncomment to eject print bed at end of print
  M84						    ; Disable steppers
  RESTORE_GCODE_STATE NAME=STATE_PRINT_END
  M117 						;Clear the messages

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  SAVE_GCODE_STATE NAME=print_pause
  PAUSE_BASE
  #SAFE_RETRACT
  SAFE_PARK
  RESTORE_GCODE_STATE NAME=print_pause

[gcode_macro SAFE_RETRACT]
gcode:
  {% set min_temp = printer.configfile.config.extruder.min_extrude_temp|default(170)|float %}

  # Only do retraction moves if temperature is high enough
  {% if  printer.extruder.temperature >= min_temp %}
    G92 E0                         ; zero the extruder
    G1 E-10.0 F1800                ; retract filament
  {% else %}
    RESPOND PREFIX="Notice: Skipping retraction - temperature too low ({ printer.extruder.temperature }°C)"
  {% endif %}

[gcode_macro SAFE_EXTRUDE]
gcode:
  {% set min_temp = printer.configfile.config.extruder.min_extrude_temp|default(170)|float %}

  # Only do extrude moves if temperature is high enough
  {% if  printer.extruder.temperature >= min_temp %}
    G92 E0                         ; zero the extruder
    G1 E+10.0 F1800                ; extrude filament
  {% else %}
    RESPOND PREFIX="Notice: Skipping extrusion - temperature too low ({ printer.extruder.temperature }°C)"
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {% else %}
    {% set get_params = "" %}
  {% endif %}
  #SAFE_EXTRUDE
  RESTORE_GCODE_STATE NAME=print_pause MOVE=1
  RESUME_BASE {get_params}

[gcode_macro SAFE_PARK]
description:
gcode:
  {% set max_x = printer.toolhead.axis_maximum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set act_x = printer.toolhead.position.x|float %}
  {% set act_y = printer.toolhead.position.y|float %}
  {% set park_delta = 10|float %}

  {% if act_x >= max_x %}
    {% set x_safe = 0 %}
    RESPOND PREFIX=📃 MSG="set x_safe = 0, act_x: {act_x} >= max_x: {max_x}"
  {% elif act_x >= (max_x - park_delta) %}
    {% set x_safe = max_x - act_x %}
    RESPOND PREFIX=📃 MSG="set x_safe = max_x({max_x}) - act_x({act_x}): {x_safe}"
  {% else %}
    {% set x_safe = park_delta %}
    RESPOND PREFIX=📃 MSG="set x_safe: {x_safe}"
  {% endif %}

  {% if act_y >= max_y %}
    {% set y_safe = 0 %}
    RESPOND PREFIX=📃 MSG="set y_safe = 0, act_y: {act_y} >= max_y: {max_y}"
  {% elif act_y >= (max_y - park_delta) %}
    {% set y_safe = max_y - act_y %}
    RESPOND PREFIX=📃 MSG="set y_safe = max_y({max_y}) - act_y({act_y}): {y_safe}"
  {% else %}
    {% set y_safe = park_delta %}
    RESPOND PREFIX=📃 MSG="set y_safe: {y_safe}"
  {% endif %}

  # Check to see if the axes are homed (preventing error messages if we cancelled a print.)
  {% if "xyz" not in printer.toolhead.homed_axes %}
      RESPOND PREFIX=📃 MSG="Notice: Printer XYZ not homed, skipping SAFE_PARK Movements."
  {% else %}
    G91
    G0 X{x_safe} Y{y_safe} F20000                                               # move nozzle to remove stringing
    G90
    G0 X{max_x} Y{max_y} F3600                                                  # park nozzle at rear
  {% endif %}

[pause_resume]
recover_velocity: 50.

[gcode_macro LOAD_FILAMENT]
gcode:
  G91                            ; relative mode
  G1 E450 F2200                   ; load 450mm of filament @ 36mm/sec to feed through gears to hotend
  G1 E20 F500                    ; load 20mm of filament @ 8mm/sec to prime nozzle
  G1 E-10 F500                    ; retract 10mm to inhibit oozing
  G90                           ; absolute mode

[gcode_macro UNLOAD_FILAMENT]
gcode:
  G91                            ; relative mode
  G1 E10 F180                    ; load 10mm of filament @ 3mm/sec to prime nozzle
  G1 E-20 F1500                   ; retract 20mm at 25mm/sec to try to form a normal tip
  G4 P10000                       ; wait 10 seconds for the filament to cool down
  G1 E-500 F2200                 ; retract 500mm at 36mm/sec
  G90                           ; absolute mode

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  M117 PRINT CANCELLED
  SAVE_GCODE_STATE NAME=STATE_PRINT_CANCEL
  M400                           ; wait for buffer to clear
  TURN_OFF_HEATERS
  SAFE_PARK
  M107                                     ; turn off fan
  M84						    # Disable steppers
  M220 S100 #Reset Speed factor override percentage to default (100%)
  M221 S100 #Reset Extrude factor override percentage to default (100%)
  RESTORE_GCODE_STATE NAME=STATE_PRINT_CANCEL
  CLEAR_PAUSE
  BASE_CANCEL_PRINT

[gcode_macro EJECT_PRINT]
description: Ejects the print from the belt by advancing belt by 200mm
gcode:
  RELEASE_Z_BELT
  SAFE_PARK
  G91                                                                       # set relative positioning
  G1 Z200 F1200                                                             # advance belt by 200mm
  G90                                                                       # set absolute positioning

#https://www.klipper3d.org/G-Codes.html#set_kinematic_position
#https://docs.kalico.gg/G-Codes.html?h=set_kinematic_position#force_move_1
[gcode_macro RELEASE_Z_BELT]
gcode:
  {% if 'z' not in printer.toolhead.homed_axes %}
    RESPOND PREFIX=📃 MSG="Z not homed, release_z_belt"
    SET_KINEMATIC_POSITION CLEAR=XY
    #SET_KINEMATIC_POSITION CLEAR_HOMED=XY
  {% else %}
    RESPOND PREFIX=📃 MSG="Z already homed — skipping release_z_belt"
  {% endif %}

[gcode_macro _SET_HOMING_CURRENT]
variable_stored_current: 0
gcode:
  {% set current = printer["tmc2209 stepper_y"].run_current %}
  # Store the current value
  SET_GCODE_VARIABLE MACRO=_SET_HOMING_CURRENT VARIABLE=stored_current VALUE={current}

  # Log the stored current
  RESPOND PREFIX=📃 MSG="Stored stepper_y current: { '%.2f' % current }"

  # Set higher current for homing
  {% set RUN_CURRENT = params.CURRENT|default(0.35)|float %}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT}
  # Wait a moment to let current settle
  G4 P1000  # Pause for 1 second

[gcode_macro _RESTORE_RUN_CURRENT]
gcode:
  # Log the current we're restoring to
  {% set stored = printer["gcode_macro _SET_HOMING_CURRENT"].stored_current %}
  RESPOND PREFIX=📃 MSG="Restoring stepper_y current to: { '%.2f' % stored }"

  # Restore the saved current
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={stored}
  # Wait a moment to let current settle
  G4 P1000  # Pause for 1 second

[gcode_macro NOZZLE_PRIME]
description: Purge nozzle at the start of the print, for 0.4mm nozzle
variable_y_startheight: 15
gcode:
  {% set rand = range(0, (printer.toolhead.axis_maximum.x|int  - 1))|random %}
  {action_respond_info("NOZZLE_PRIME fuzzy Coord(x={0})".format(rand))}
  {% set fan_speed = printer.fan.speed %}
  G90                      ; Set absolute positioning
  G0 X{rand} Y{y_startheight} F3000
  M106 S255
  SAFE_EXTRUDE
  G90                      ; Set absolute positioning
  M83
  G0 E10 Y0 Z8 F300
  G91                      ; Set relative positioning
  G0 Z+30 E+50 F150 		; intro line
  G0 Y+15 Z+15 F3000 		;Move Y axis up & retract
  G90                      ; Set absolute positioning
  G92 E0                  ; Reset extruder
  G92 Z0                  ; Reset Z position
  M106 S{(fan_speed * 255)|round|int}

[gcode_macro NOZZLE_PRIME]
description: Purge nozzle at the start of the print, for 0.4mm nozzle
variable_y_startheight: 15
variable_extrude_length: 60
gcode:
  {% set rand = range(0, (printer.toolhead.axis_maximum.x|int  - 1))|random %}
  RESPOND PREFIX=🍥 MSG="NOZZLE_PRIME fuzzy Coord(x={rand})"
  {% set fan_speed = printer.fan.speed %}
  G90                                                                   # set absolute positioning
  G0 X{rand} Y{y_startheight} F3000
  M106 S255
  SAFE_EXTRUDE
  G90                                                                   # set absolute positioning
  M83
  G0 E10 Y0 Z8 F300
  G91                                                                   # set relative positioning
  G0 Z+30 E+{extrude_length-10} F150                                    # intro line
  G0 Y+15 Z+15 F3000                                                    # move Y axis up & retract
  G90                                                                   # set absolute positioning
  G92 E0                                                                # reset extruder
  G92 Z0                                                                # reset Z position
  M106 S{(fan_speed * 255)|round|int}

[gcode_macro COOL_DOWN]
gcode:
  M104 S0 ; Turn off hotend
  M140 S0 ; Turn off bed
  M107    ; Turn off fan

[gcode_macro Y_ANGLE]
variable_state: "30"
variable_angle: "0"
gcode:
  RESPOND PREFIX="Y Angle is: {state}"

[gcode_macro VALIDATE_ANGLE]
description: Validate 30/45 angle
variable_validation_error: 0
gcode:
  {% set y_angle_state = printer["gcode_macro Y_ANGLE"].state|string %}
  {% set requested_angle = printer["gcode_macro Y_ANGLE"].angle|string %}

  #Uncomment the line below if you need to see the values and troubleshoot
  #RESPOND PREFIX="Debug - Y_angle_state: '{y_angle_state}' requested: '{requested_angle}'"

  {% if y_angle_state == requested_angle %}
    M117 Angle Verified... Continuing to Print!
    RESPOND PREFIX="Angle Verified... Continuing to Print!"
  {% else %}
    RESPOND PREFIX="Your Angle is set to {y_angle_state}, but you sliced for {requested_angle}"
    SET_GCODE_VARIABLE MACRO=VALIDATE_ANGLE VARIABLE=validation_error VALUE=1
  {% endif %}